<div class="container">
    <div class="col-12 mb-4" *ngFor="let mobileObj of mobileArr">
        <div class="card"
             [ngClass]="{'notavl': !mobileObj.isAvailable}">
             <p class="noProdavl" *ngIf="!mobileObj.isAvailable">Product is not available</p>
            <div class="card-body">
                        <div class="row">
                             <div class="col-md-4">
                                <div class="imgContainer">
                                    <img 
                                    *ngIf="mobileObj.image; else noMobileImg"
                                    [src]="mobileObj.image" 
                                    [alt]="mobileObj.name" 
                                    [title]="mobileObj.name"
                                    class="img-fluid" />

                                    <ng-template #noMobileImg>
                                        <img src="https://placehold.co/600x400" class="img-fluid" />
                                    </ng-template>
                                </div>
                             </div>
                            <div class="col-md-8">
                                <h3 class="display-3">
                                    {{mobileObj.name}}
                                    <small class="rating text-white p-2"
                                    [ngClass]="{
                                        'bg-success':mobileObj.rating >=4,
                                        'bg-warning':mobileObj.rating < 4 && mobileObj.rating >=3,
                                        'bg-danger': mobileObj.rating < 3
                                    }"
                                    >
                                    {{mobileObj.rating}}
                                    </small>
                                </h3>
                                <ul>
                                    <li *ngFor="let spec of mobileObj.specification">
                                        {{spec}}
                                    </li>
                                </ul>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

